		
	<div id="theme-wrapper" >
		
			<header>						
		<div class="branding-wrap text-logo hide-for-small">				
		  <ul id="filter" data-filter="isotope-item">
		       
                        <li><a href="#" data-filter="isotope-item" class="tiptip " title="Todos"></a></li>
			<% @categories.each do |category| %>
			<li><%= link_to "", category, {:'data-filter' => category.name, :'title' => category.name } %></li>
			<% end %>
                      
                    </ul>
				</div><!-- END .branding-wrap.hide-for-small -->
					
				<div id="header-container" class="hide-for-small" >
					<span class="menu-icon"></span>
				</div><!-- END #header-container.hide-for-small -->	
			</header>
				
	
		
<div id="primary-container" class="portfolio-template">

<div id="isotope-container" class="animated BeanFadeIn isotope">

<% @posts.each do |post| %>	


<!-- post a post do blog no bloco -->
<li class="portfolio type-portfolio <%= post.category.name %> isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
          
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
	<%= link_to(post, :class => 'hover-on') do %>
        
            <div class="hoverdiv-feat hide-for-small">
	     <%= image_tag(post.image_url(:giga)) %>
         		
            </div>
            
            <div class="overlay hover-on">
                <h4><%= post.title %> <span><%= post.category.name %></span></h4>
            </div><!-- END .overlay -->
      
	<% end %>
    </li><!-- END .isotope-item -->
<% end %>
<!-- fim do render de cada post --> 

    
    
        </div><!-- END #isotope-container -->
                
    </div><!-- END #primary-container --> 	
    </div><!-- END #theme-wrapper -->


<div class="hidden-sidebar">

	<div class="hidden-sidebar-inner">
		<!--logo-->
        	
        	<%= link_to "Papo do Dia", root_path, :class => "logo" %>
       		<div class="logo-desc">De papo com a Neuly.</div>
		<!--logo end-->
        
        <!--navigation-->
        <div class="widget">
            <div class="heading">Categorias</div>
            <div class="textwidget">
            	<ul class="menu">
		<% @categories.each do |category| %>
		<li> <%= link_to "#{category.name}", category %> </li>

	        <% end %>
                   
                </ul>
              
            </div>
        </div>
        <!--navigation end-->
        
     
        
 
        
  
        
  
        

        
        <!--about-->
        <div class="widget">
            <div class="heading">Sobre</div>
            <div class="textwidget">	
            	 Texto relatando sobre o que o blog falará!
            </div>
        </div>
        <!--about end-->
        
        <!--dribbble-->
        <div class="widget widget_bean_dribbble_widget">
            <div class="heading">Facebook</div>
           
        </div>
        <!--dribbble end-->
        
        <!--subscribe-->
        <div class="widget">
            <div class="heading">Publicidade</div>
 
        </div>
        <!--subscribe end-->
        
        <!--recent post-->
        <div class="widget widget_recent_entries">
        	<div class="heading">Últimas postagens</div>
        	<ul>
	<% @posts.each do |post| %>
	        <li><%= link_to "#{post.title}", post %></li>

	<% end %>
			
			</ul>
        </div>
        <!--recent post end-->
        

               
        <p class="copy">© 2014 Todos os direitos reservados. <a href="http://www.ifollowagencia.com.br">iFollow Agência Digital.</a></p>
		
               
               
		
		
	</div><!-- END .hidden-sidebar-inner -->	

</div><!-- END .hidden-sidebar -->	

    		

	
